top; configure terminal;

# configuration b5bf4f02804c4fa88314ff9fe37bdc79 generated Fri Aug 22 13:31:18 2025; firmware version 375839

%if% available "user"

user "AccTest_User"
  password-hashed "$1$ntDKg/F4$yRYM/IZVipz2tDtn4mAUv."
  access-level group-defined
  group AccTest_UserGroup
exit

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
