*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.tfstate
*.tfstate.backup
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.env
.idea/
.vscode/

_dev/
.devcontainer/.env
.devcontainer/go/certs/
.bin/
sandbox/
unconfined
