name: ErrorReportSettings
description: <p>Failure notification is a serviceability tool. By default, failure
  notification is disabled. To use failure notification, you must enable the configuration
  and allow the error report to be uploaded.</p><p>The uploading of an error report
  allows the capture of more diagnostic information, which safely improves serviceability.
  Although there is a tradeoff between performance and serviceability, you should
  choose serviceability by enabling the following properties:</p><ul><li>Include Internal
  State</li><li>Background Packet Capture</li><li>Background Log Capture</li><li>Background
  Memory Trace</li></ul><p>When you allow the error report to be uploaded, this setting
  enables the Failure Notification status provider. This status provide in combination
  with the report history tracks the error reports that the appliance generates, the
  reason why the appliance generated the error report, and its upload status to the
  specific destination.</p><p>You can specify an NFS, RAID, SMTP, or FTP destination.
  You can also specify the local temporary directory as the destination. The appliance
  generates error reports, the naming convention includes the serial number of the
  appliance and the timestamp of the report. This naming convention prevents one report
  from overwriting another.</p><p>You can use Event Triggers to generate error reports
  automatically when specific events occur.</p>
cli_alias: failure-notification
cmd_group: failure-notification
rest_endpoint: /mgmt/config/default/ErrorReportSettings/Error-Report
update_only: true
default_domain_only: true
attributes:
- name: mAdminState
  tf_name: enabled
  type: Bool
  bool_type: admin
  default: true
  description: <p>The administrative state of the configuration.</p><ul><li>To make
    active, set to enabled.</li><li>To make inactive, set to disabled.</li></ul>
  cli_alias: admin-state
- name: UserSummary
  type: String
  description: Comments
  cli_alias: summary
- name: UploadReport
  type: Bool
  default: false
  description: <p>Specify whether to upload the error report to an NFS, RAID, SMTP,
    or FTP destination or write the error report to the local temporary directory.
    If you enable this feature:</p><ul><li>It enables the Failure Notification status
    provider, which tracks previous error reports</li><li>It changes the naming convention
    to include the serial number of the appliance and the timestamp, which prevents
    one report overwriting another</li></ul>
  cli_alias: upload-report
  ignored_when:
  - evaluation: property-value-in-list
    attribute: UseSmtp
    value:
    - true
- name: UseSmtp
  type: Bool
  default: false
  description: Specify whether to send an e-mail at start-up only that contains the
    error report. If you want to receive e-mail notification, use the upload error
    report property instead of this property.
  cli_alias: use-smtp
  ignored_when:
  - evaluation: property-value-in-list
    attribute: UploadReport
    value:
    - true
- name: InternalState
  type: Bool
  default: false
  description: Specify whether to include the internal state of the appliance in the
    error report. The internal state can be useful in diagnosing the cause of the
    error.
  cli_alias: internal-state
- name: FFDCPacketCapture
  type: Bool
  default: false
  description: <p>Specify whether to use a background packet capture. This feature
    enables network packet capture for all interfaces including the internal loopback
    interface. When enabled, this feature runs continuously.</p><p>If the appliance
    encounters a problem or a user triggers the generation of an error report, the
    error report includes the data from this packet capture data. This data helps
    to determine the messages that the appliance was processing when it encountered
    the problem.</p>
  cli_alias: ffdc packet-capture
  ignored_when:
  - evaluation: property-value-in-list
    attribute: UploadReport
    value:
    - false
- name: FFDCEventLogCapture
  type: Bool
  default: false
  description: <p>Specify whether to use a background log capture. This feature enables
    the capture of all log and trace points with minimal overhead. When enabled, this
    feature runs continuously.</p><p>If the appliance encounters a problem or a user
    triggers the generation of an error report, the error report includes data from
    this log capture. This data can help IBM Support identify the problem.</p><p>These
    messages are independent of messages written to log and trace targets.</p>
  cli_alias: ffdc event-log
  ignored_when:
  - evaluation: property-value-in-list
    attribute: UploadReport
    value:
    - false
- name: FFDCMemoryLeakCapture
  type: Bool
  default: false
  description: <p>Specify whether to enable automatic leak detection. This feature
    finds gradual memory leaks that occur steadily over time. This feature does not
    help in situations where messages are larger than the appliance can parse.</p><p>When
    enabled and if memory falls below an internal threshold, the appliance tracks
    all memory allocations. When the appliance reaches a critical condition that will
    lead to a crash, it generates an error report that contains information about
    memory allocation.</p><p>The configuration of the Throttle Settings affects this
    feature. The throttle settings can prevent the appliance from reaching the internal
    threshold.</p>
  cli_alias: ffdc memory-trace
  ignored_when:
  - evaluation: property-value-in-list
    attribute: UploadReport
    value:
    - false
- name: AlwaysOnStartup
  type: Bool
  default: true
  description: <p>Specify whether the appliance generates an error report when it
    reboots or reloads. If this feature is enabled logs will be collected before they
    are overwritten when the system reloads. When the appliance reboots or reloads
    and when using the upload error report feature, the status provider lists <tt>on-start</tt>
    as the reason code. If the appliance reloads due to a crash, the status provider
    lists <tt>crash</tt> as the reason code.</p><p><b>Best Practices:</b></p><ul><li>In
    general enable this feature.</li><li>In particular when in production, enable
    this feature to track reloads and reboots.</li></ul>
  cli_alias: always-on-startup
- name: AlwaysOnShutdown
  type: Bool
  default: true
  description: <p>Specify whether the appliance generates an error report when it
    shuts down. When the appliance shuts down and when using the upload error report
    feature, the status provider lists <tt>on-shutdown</tt> as the reason code. If
    the appliance shuts down due to a crash, the status provider lists <tt>crash</tt>
    as the reason code.</p><p><b>Best Practices:</b></p><ul><li>In general enable
    this feature.</li><li>In particular when in production, enable this feature to
    make sure debugging information is captured when the appliance shuts down.</li></ul>
  cli_alias: always-on-shutdown
- name: Protocol
  type: String
  enum:
  - ftp
  - nfs
  - raid
  - smtp
  - temporary
  - mqdiag
  description: Specify the protocol to use to upload the error report. Note that the
    selection you will see depends on your device features and licenses.
  cli_alias: protocol
  required_when:
  - evaluation: property-value-in-list
    attribute: UploadReport
    value:
    - true
  ignored_when:
  - evaluation: property-value-in-list
    attribute: UploadReport
    value:
    - false
- name: LocationIdentifier
  type: String
  description: Specify text to include in the subject of an e-mail notification. In
    general, this value should be how you identify this appliance in your environment.
    When using the upload error report feature, this property is not necessary. In
    this case, failure notification uses the serial number of the appliance and the
    timestamp of the error report.
  cli_alias: location-id
  required_when:
  - evaluation: property-value-in-list
    attribute: UseSmtp
    value:
    - true
  ignored_when:
  - evaluation: logical-true
- name: SmtpServer
  type: String
  example: smtp.mycompany.com
  description: Specify the host name or IP address of the remote SMTP server to which
    to send the error report.
  cli_alias: remote-address
  required_when:
  - evaluation: logical-or
    conditions:
    - evaluation: property-value-in-list
      attribute: UseSmtp
      value:
      - true
    - evaluation: logical-and
      conditions:
      - evaluation: property-value-in-list
        attribute: UploadReport
        value:
        - true
      - evaluation: property-value-in-list
        attribute: Protocol
        value:
        - smtp
  ignored_when:
  - evaluation: logical-true
  string_exclude:
  - 127.0.0.1
  - localhost
- name: EmailAddress
  type: String
  description: Specify the e-mail address to which to send the error report.
  cli_alias: email-address
  required_when:
  - evaluation: logical-or
    conditions:
    - evaluation: property-value-in-list
      attribute: UseSmtp
      value:
      - true
    - evaluation: logical-and
      conditions:
      - evaluation: property-value-in-list
        attribute: UploadReport
        value:
        - true
      - evaluation: property-value-in-list
        attribute: Protocol
        value:
        - smtp
  ignored_when:
  - evaluation: logical-true
- name: EmailSenderAddress
  type: String
  description: Specify the e-mail address of the sender ( <tt>MAIL FROM</tt> ). If
    not specified, the configuration uses the e-mail address of the recipient.
  cli_alias: email-sender-address
  ignored_when:
  - evaluation: logical-or
    conditions:
    - evaluation: logical-and
      conditions:
      - evaluation: property-value-in-list
        attribute: UseSmtp
        value:
        - false
      - evaluation: property-value-in-list
        attribute: UploadReport
        value:
        - false
    - evaluation: logical-and
      conditions:
      - evaluation: property-value-in-list
        attribute: UseSmtp
        value:
        - false
      - evaluation: property-value-in-list
        attribute: UploadReport
        value:
        - true
      - evaluation: property-value-not-in-list
        attribute: Protocol
        value:
        - smtp
- name: FTPServer
  type: String
  example: ftp.mycompany.com
  description: Specify the host name or IP address of the remote FTP server to which
    to upload the error report.
  cli_alias: ftp-server
  required_when:
  - evaluation: logical-and
    conditions:
    - evaluation: property-value-in-list
      attribute: UploadReport
      value:
      - true
    - evaluation: property-value-in-list
      attribute: Protocol
      value:
      - ftp
  ignored_when:
  - evaluation: logical-true
  string_max_length: 128
  string_min_length: 0
  string_exclude:
  - 127.0.0.1
  - localhost
- name: FTPPath
  type: String
  description: Specify the directory on the FTP server to which to upload the error
    report. Use <tt>%2F</tt> to specify an absolute path.
  cli_alias: ftp-path
  ignored_when:
  - evaluation: logical-or
    conditions:
    - evaluation: property-value-in-list
      attribute: UploadReport
      value:
      - false
    - evaluation: property-value-not-in-list
      attribute: Protocol
      value:
      - ftp
  string_max_length: 128
  string_min_length: 0
- name: FTPUserAgent
  type: String
  reference_to: HTTPUserAgent
  description: Specify the User Agent that describes how to connect to remote FTP
    servers. In addition to the FTP Policy to define the connection, ensure that this
    User Agent defines the basic authentication policy (user name and password) to
    connect to the FTP server.
  cli_alias: ftp-user-agent
  required_when:
  - evaluation: logical-and
    conditions:
    - evaluation: property-value-in-list
      attribute: UploadReport
      value:
      - true
    - evaluation: property-value-in-list
      attribute: Protocol
      value:
      - ftp
  ignored_when:
  - evaluation: logical-true
- name: NFSMount
  type: String
  reference_to: NFSStaticMount
  description: Specify the NFS mount point to which to upload the error report.
  cli_alias: nfs-mount
  required_when:
  - evaluation: logical-and
    conditions:
    - evaluation: property-value-in-list
      attribute: UploadReport
      value:
      - true
    - evaluation: property-value-in-list
      attribute: Protocol
      value:
      - nfs
  ignored_when:
  - evaluation: logical-true
- name: NFSPath
  type: String
  description: This describes the NFS path location for the Error Report
  cli_alias: nfs-path
  ignored_when:
  - evaluation: logical-or
    conditions:
    - evaluation: property-value-in-list
      attribute: UploadReport
      value:
      - false
    - evaluation: property-value-not-in-list
      attribute: Protocol
      value:
      - nfs
- name: RaidVolume
  type: String
  reference_to: RaidVolume
  description: Specify the volume on the RAID array to which to upload the error report.
  cli_alias: raid-volume
  required_when:
  - evaluation: logical-and
    conditions:
    - evaluation: property-value-in-list
      attribute: UploadReport
      value:
      - true
    - evaluation: property-value-in-list
      attribute: Protocol
      value:
      - raid
  ignored_when:
  - evaluation: logical-true
- name: RaidPath
  type: String
  description: Specify the directory on the RAID volume to which to upload the error
    report.
  cli_alias: raid-path
  ignored_when:
  - evaluation: logical-or
    conditions:
    - evaluation: property-value-in-list
      attribute: UploadReport
      value:
      - false
    - evaluation: property-value-not-in-list
      attribute: Protocol
      value:
      - raid
- name: ReportHistoryKept
  type: Int64
  minimum: 2
  maximum: 10
  default: 5
  description: <p>Specify the maximum number of local error reports to maintain when
    using the upload error report feature. After reaching this limit, the next local
    error report overwrites the oldest local error report. Use any value of 2 - 10.
    The default value is 5.</p><p>This feature only applies to locally stored error
    reports, including temporary and Raid.</p><p>To view the history, see the Failure
    Notification status provider.</p>
  cli_alias: report-history
  ignored_when:
  - evaluation: property-value-in-list
    attribute: UploadReport
    value:
    - false
