name: NFSClientSettings
description: Configure global NFS client parameters, which is the global configuration
  to enable NFS.
cli_alias: nfs-client
cmd_group: system
rest_endpoint: /mgmt/config/default/NFSClientSettings/NFS-Client-Settings
singleton: true
default_domain_only: true
attributes:
- name: mAdminState
  tf_name: enabled
  type: Bool
  bool_type: admin
  default: false
  description: <p>The administrative state of the configuration.</p><ul><li>To make
    active, set to enabled.</li><li>To make inactive, set to disabled.</li></ul>
  cli_alias: admin-state
- name: UserSummary
  type: String
  description: Comments
  cli_alias: summary
- name: MountRefreshTime
  type: Int64
  minimum: 1
  maximum: 1000
  default: 10
  description: Specify the interval between the validation of NFS mounts. The status
    of each NFS mount is checked at this interval. This check detects whether the
    NFS server is up or down to prevent application-level NFS timeouts.
  cli_alias: mount-refresh-time
