name: OAuthProviderSettings
description: An OAuth provider settings configuration defines how a client application
  is authorized to access resources on behalf of the resource owner.
cli_alias: oauth-provider-settings
cmd_group: configuration
rest_endpoint: /mgmt/config/{domain}/OAuthProviderSettings
attributes:
- name: Id
  tf_name: id
  path: name
  type: String
  required: true
  test_value: '"ResTestOAuthProviderSettings"'
  test_expect_ds: '"AccTest_OAuthProviderSettings"'
  example: OAuthProviderSettingsName
  description: Name of the object. Must be unique among object types in application
    domain.
  string_patterns:
  - ^[a-zA-Z0-9_-]+$
  string_min_length: 1
  string_max_length: 128
- name: AppDomain
  tf_name: app_domain
  type: String
  required: true
  example: test_domain
  description: The name of the application domain the object belongs to
  string_patterns:
  - ^[a-zA-Z0-9_-]+$
  string_min_length: 1
  string_max_length: 128
- name: UserSummary
  type: String
  description: Comments
  cli_alias: summary
- name: EnableDebugMode
  type: Bool
  default: false
  description: Specify whether to enable debug mode to add security error details
    in response headers. In debug mode when you use a validation endpoint, security
    error details are sent in the <tt>x-apic-debug-oauth-error</tt> and <tt>x-apic-debug-oauth-error-desc</tt>
    response headers.
  cli_alias: enable-debug-mode
- name: ProviderType
  type: String
  enum:
  - native
  - third_party
  default: native
  required: true
  description: Provider type
  cli_alias: provider-type
- name: ScopesAllowed
  type: String
  description: Specify the scopes that the access token is valid to access. To specify
    multiple scopes, use a space between each scope. The order of scopes does not
    matter. Scopes ensure that the granted access token is valid to access only specific
    protected resources.
  cli_alias: scopes-allowed
- name: DefaultScopes
  type: String
  description: Specify the default scopes to apply when the request does not contain
    a scope. To specify multiple scopes, use a space between each scope. The order
    of scopes does not matter. <p>The default scopes must be a subset of the allowed
    scopes in the API security OAuth requirement. Without defined scopes and the request
    does not contain a scope, an invalid scope error is returned.</p><p>Scopes ensure
    that the granted access token is valid to access only specific protected resources.</p>
  cli_alias: default-scopes
- name: SupportedGrantTypes
  dm_type: DmOAuthProviderGrantType
  description: Specify the supported grant types. Each grant type defines a method
    to grant authorization to client applications.
  cli_alias: supported-grant-types
- name: SupportedClientTypes
  dm_type: DmAllowedClientType
  description: Supported client types
  cli_alias: supported-client-types
- name: APICProviderBasePath
  type: String
  default: /
  description: Specify the base path on which the OAuth provider API is served. The
    default value is <tt>/</tt> .
  cli_alias: apic-provider-base-path
- name: APICAuthorizeEndpoint
  type: String
  default: /oauth2/authorize
  description: Specify the endpoint where the client application obtains authorization
    grant. The default value is <tt>/oauth2/authorize</tt> .
  cli_alias: apic-authorize-endpoint
- name: APICTokenEndpoint
  type: String
  default: /oauth2/token
  description: Specify the endpoint where the client application exchanges an authorization
    grant for an access token. The default value is <tt>/oauth2/token</tt> .
  cli_alias: apic-token-endpoint
- name: APICEnableIntrospection
  type: Bool
  default: false
  description: Specify whether to enable the introspection of access tokens. When
    enabled, authorized protected resources can introspect the access token to determine
    the metadata for making appropriate authorization decisions. By default, token
    introspection is disabled.
  cli_alias: apic-enable-introspection
- name: APICIntrospectEndpoint
  type: String
  default: /oauth2/introspect
  description: Specify the endpoint for token introspection. The default value is
    <tt>/oauth2/introspect</tt> .
  cli_alias: apic-introspect-endpoint
- name: APICTokenSecret
  type: String
  reference_to: CryptoSSKey
  description: Token secret
  cli_alias: apic-token-secret
  test_value: '"AccTest_CryptoSSKey"'
  test_bed_value: datapower_cryptosskey.acc_test.id
- name: APICOneTimeUseAccesstoken
  type: Bool
  default: false
  description: One-time use access token
  cli_alias: apic-enable-one-time-use-access-token
- name: APICAccessTokenTTL
  type: Int64
  minimum: 1
  maximum: 63244800
  default: 3600
  description: Specify the time in seconds that an access token remains valid. The
    default value is 3600.
  cli_alias: apic-access-token-ttl
- name: APICAuthCodeTTL
  type: Int64
  minimum: 1
  maximum: 600
  default: 300
  description: Specify the time in seconds that an authorization code remains valid.
    The default value is 300.
  cli_alias: apic-auth-code-ttl
- name: APICEnableRefreshToken
  type: Bool
  default: false
  description: Specify whether to enable issuing refresh tokens. Refresh tokens are
    issued to the client. Refresh tokens are used to obtain a new access token when
    the current access token becomes invalid, expires, or are used to obtain additional
    access tokens with identical or narrower scope. By default, this setting is disabled.
  cli_alias: apic-enable-refresh-token
- name: APICOneTimeUseRefreshtoken
  type: Bool
  default: true
  description: Specify whether a refresh tokens is one-time use. <ul><li>When enabled,
    the refresh token is one-time use. This setting is the default value.</li><li>When
    disabled, the refresh token can be reused until it expires or is revoked.</li></ul>
  cli_alias: apic-enable-one-time-use-refresh-token
- name: APICRefreshTokenLimit
  type: Int64
  minimum: 1
  maximum: 4096
  default: 10
  description: Specify the number of refresh tokens to allow to be generated. The
    default value is 10.
  cli_alias: apic-refresh-token-limit
- name: APICRefreshTokenTTL
  type: Int64
  minimum: 2
  maximum: 252979200
  default: 5400
  description: Specify the time in seconds that a refresh token remains valid. The
    default value is 5400.
  cli_alias: apic-refresh-token-ttl
- name: APICMaximumConsentTTL
  type: Int64
  minimum: 0
  maximum: 2529792000
  default: 0
  description: Specify the time in seconds that a consent remains valid. The default
    value is 0, which disables maximum consent.
  cli_alias: apic-maximum-consent-ttl
- name: AdvScopeValidationEnabled
  type: Bool
  default: false
  description: Specify whether to enable advanced scope validation that you can use
    to provide additional scope checking.
  cli_alias: advanced-scope-validation-enabled
- name: AdvancedScopeURLOverride
  type: Bool
  default: false
  description: Use URL from API Security Definition
  cli_alias: advanced-scope-url-from-security
- name: AdvancedScopeURL
  type: String
  description: Specify the URL to send scope information for validation. This external
    endpoint is where the specified scope is verified. You must define this property
    for advanced scope validation.
  cli_alias: advanced-scope-url
- name: AdvScopeTLSProfile
  type: String
  reference_to: SSLClientProfile
  description: TLS profile to access advanced scope URL
  cli_alias: advanced-scope-tls-profile
- name: AdvScopeURLSecurityEnabled
  type: Bool
  default: false
  description: Enable advanced scope endpoint security
  cli_alias: advanced-scope-url-security-enabled
- name: AdvScopeURLSecurity
  dm_type: DmSecurityType
  default: basic-auth
  description: Advanced scope endpoint security
  cli_alias: advanced-scope-url-security
- name: AdvScopeBasicAuthUserName
  type: String
  description: Basic authentication username
  cli_alias: advanced-scope-basic-auth-username
- name: AdvScopeBasicAuthPassword
  type: String
  reference_to: PasswordAlias
  description: Basic authentication password
  cli_alias: advanced-scope-basic-auth-password-alias
- name: AdvScopeBasicAuthHeaderName
  type: String
  description: Specify the header name to use for sending encoded or non-encoded authentication
    string in the header. For example, <tt>x-basic-authorization-header</tt> .
  cli_alias: advanced-scope-basic-auth-headername
- name: AdvancedScopeCustomHeaders
  type: String
  description: Specify the custom headers to send with the advanced scope validation
    request. Use a regular expression match to include headers from the initial request.
  cli_alias: advanced-scope-request-headers
- name: AdvancedScopeCustomContexts
  type: String
  description: Specify custom context variables to save headers from the advanced
    scope validation request. Use a regular expression to include headers from the
    advanced scope endpoint response.
  cli_alias: advanced-scope-response-contexts
- name: APICEnableOIDC
  type: Bool
  default: true
  description: Specify whether to enable OIDC to verify the identity of the user.
    When enabled, the client application verifies the identity of the user based on
    the requirement of an OIDC provider before requesting access to client resources.
    By default, OIDC token generation is enabled. OIDC is only available for implicit
    and AZ code grant types.
  cli_alias: apic-enable-oidc
- name: APICOIDCHybridResponseTypes
  dm_type: DmOIDCHybridResponseType
  description: OIDC Hybrid Flow Response Types
  cli_alias: apic-oidc-hybrid-response-types
- name: APICSupportPKCE
  type: Bool
  default: true
  description: Specify whether the application should enforce PKCE if provided by
    the client. For more information, see RFC 7636.
  cli_alias: apic-support-pkce
- name: APICRequirePKCE
  type: Bool
  default: false
  description: Specify whether the application must enforce PKCE. For more information,
    see RFC 7636.
  cli_alias: apic-require-pkce
- name: APICSupportPKCEPlain
  type: Bool
  default: false
  description: Specify whether to support the PKCE <tt>plain</tt> code challenge transform
    method. For more information, see RFC 7636.
  cli_alias: apic-support-pkce-plain
- name: APICTokenTypeToGenerate
  type: String
  enum:
  - Bearer
  - jwt
  default: Bearer
  description: Type of token to generate
  cli_alias: apic-token-type-to-generate
- name: MetadataFrom
  dm_type: DmMetadataFromType
  description: Obtain metadata from
  cli_alias: metadata-from
- name: MetadataURL
  type: String
  description: Specify the URL to a remote server where the custom metadata is stored.
    The value can include one or more runtime context variables in the <tt>$(variable)</tt>
    format.
  cli_alias: metadata-url
- name: MetadataSSLProfile
  type: String
  reference_to: SSLClientProfile
  description: TLS profile to access metadata URL
  cli_alias: metadata-ssl-profile
- name: MetadataHeaderForAccessToken
  type: String
  default: X-API-OAuth-Metadata-For-AccessToken
  description: Specify the response header to place in the access token. These headers
    are in the response from the authentication or metadata endpoint.
  cli_alias: mdheader-for-accesstoken
- name: MetadataHeaderForPayload
  type: String
  default: X-API-OAuth-Metadata-For-Payload
  description: Specify the response header to place in the response payload. These
    headers are in the response from the authentication or metadata endpoint.
  cli_alias: mdheader-for-payload
- name: ExternalRevocationURL
  type: String
  description: Specify an external endpoint through which the token management is
    accomplished. The value can include one or more runtime context variables in the
    <tt>$(variable)</tt> format.
  cli_alias: external-revocation-url
- name: ExternalRevocationSSLProfile
  type: String
  reference_to: SSLClientProfile
  description: External management TLS client profile
  cli_alias: external-revocation-ssl-profile
- name: ExternalRevocationURLSecurity
  dm_type: DmSecurityType
  default: basic-auth
  description: External management security
  cli_alias: external-revocation-url-security
- name: ExternalRevocationBasicAuthUserName
  type: String
  description: ''
  cli_alias: external-revocation-basic-auth-username
- name: ExternalRevocationBasicAuthPassword
  type: String
  reference_to: PasswordAlias
  description: Basic authentication password
  cli_alias: external-revocation-basic-auth-password-alias
- name: ExternalRevocationBasicAuthHeaderName
  type: String
  description: Specify the header name to use for sending encoded or non-encoded authentication
    string in the header. For example, <tt>x-external-basic-authorization-header</tt>
    .
  cli_alias: external-revocation-basic-auth-headername
- name: ExternalRevocationCustomHeaderFormat
  type: String
  description: Specify the pattern of header names to include from the original message.
    For example, <tt>x-external-management-*</tt> .
  cli_alias: external-revocation-custom-headername-format
- name: ExternalRevocationCacheType
  type: String
  enum:
  - Protocol
  - NoCache
  - TimeToLive
  default: NoCache
  description: Cache type
  cli_alias: external-revocation-cache-type
- name: ExternalRevocationCacheTimeToLive
  type: Int64
  minimum: 0
  maximum: 4294967295
  default: 900
  description: Specify the validity period in seconds for external management service
    responses in the cache. The default value is 900.
  cli_alias: external-revocation-cache-ttl
- name: ExternalRevocationFailOnError
  type: Bool
  default: true
  description: Specify whether to stop processing if connection to external management
    service fails. If failed, stops token-generation or use, and returns an error.
  cli_alias: external-revocation-fail-on-error
- name: EnableTokenManagement
  type: Bool
  default: true
  description: Specify if security token details should be managed and stored. Enabling
    token management for security token details provides the ability to create one-time
    use tokens, prevent AZ code reuse, and support allow-listing through the use of
    the token manager.
  cli_alias: enable-token-management
- name: TokenManagerType
  type: String
  enum:
  - native
  - external
  default: native
  description: Token manager type
  cli_alias: token-manager-type
- name: APISecurityTokenManager
  type: String
  reference_to: APISecurityTokenManager
  default: default
  description: API security token manager
  cli_alias: api-security-token-manager
- name: EnableApplicationRevocation
  type: Bool
  default: false
  description: Specify whether to enable revocation by application. Enabling application
    revocation allows the application to revoke consent before the token expires.
  cli_alias: apic-app-revoke-enable
- name: ApplicationRevocationEndpoint
  type: String
  default: /oauth2/revoke
  description: Application revocation endpoint
  cli_alias: apic-app-revoke-endpoint
- name: EnableOwnerRevocation
  type: Bool
  default: false
  description: Specify whether to enable revocation by resource owner. Enabling resource
    owner revocation allows the resource owner to revoke consent before the token
    expires.
  cli_alias: apic-owner-revoke-enable
- name: OwnerRevocationEndpoint
  type: String
  default: /oauth2/issued
  description: Resource owner revocation endpoint
  cli_alias: apic-owner-revoke-endpoint
- name: TokenValidationReq
  type: String
  enum:
  - connected
  - active
  - custom
  description: Token validation requirement
  cli_alias: token-validation-requirement
- name: ThirdPartyAZURL
  type: String
  description: Authorization endpoint
  cli_alias: third-party-az-url
- name: ThirdPartyTokenURL
  type: String
  description: Token endpoint
  cli_alias: third-party-token-url
- name: ThirdPartyIntrospectURL
  type: String
  description: Specify the endpoint for token-introspection operation. The value can
    include one or more runtime context variables in the <tt>$(variable)</tt> format.
  cli_alias: third-party-introspect-url
- name: ThirdPartyIntrospectCacheType
  type: String
  enum:
  - Protocol
  - NoCache
  - TimeToLive
  default: NoCache
  description: Cache type
  cli_alias: third-party-introspect-cache-type
- name: ThirdPartyIntrospectCacheTimeToLive
  type: Int64
  minimum: 0
  maximum: 4294967295
  default: 900
  description: Specify the validity period in seconds for third-party provider responses
    in the cache. The default value is 900.
  cli_alias: third-party-introspect-cache-ttl
- name: ThirdPartyAuthorizationHeaderPassThru
  type: Bool
  default: false
  description: Specify whether to retain or remove the <tt>Authorization</tt> header
    for a bearer token. The default behavior is to remove this header.
  cli_alias: third-party-authorization-header-pass-thru
- name: ThirdPartyIntrospectURLSecurity
  dm_type: DmSecurityType
  default: basic-auth
  description: Introspection endpoint security
  cli_alias: third-party-introspect-url-security
- name: ThirdPartyIntrospectBasicAuthUserName
  type: String
  description: Basic authentication username
  cli_alias: third-party-introspect-basic-auth-username
- name: ThirdPartyIntrospectBasicAuthPassword
  type: String
  reference_to: PasswordAlias
  description: Basic authentication password
  cli_alias: third-party-introspect-basic-auth-password-alias
- name: ThirdPartyBasicAuthHeaderName
  type: String
  description: Specify the header name to send the encoded or non-encoded authentication
    string. For example, <tt>x-introspect-basic-authorization-header</tt> .
  cli_alias: third-party-introspect-basic-auth-headername
- name: ThirdPartyCustomHeaderNameFormat
  type: String
  description: Specify the pattern of header name to send additional information.
    For example, <tt>x-introspect-*</tt> .
  cli_alias: third-party-introspect-custom-headername-format
- name: ThirdPartyIntrospectSSLProfile
  type: String
  reference_to: SSLClientProfile
  description: TLS client profile
  cli_alias: third-party-introspect-ssl-profile
