
---
layout: ""
page_title: "Provider: IBM DataPower"
description: |-
  The IBM DataPower Gateway provider provides resources to interact via DataPower's REST API.
---

The IBM DataPower Gateway provider provides resources to interact via DataPower's REST API.

Resources and data sources have been tested against the following release:

| Platform        | Version  |
| --------------- | -------- |
| DataPower       | 10.6.0.6 |

Documentation: <https://registry.terraform.io/providers/ScottW514/datapower/latest>

## Getting Started

The following guides with examples exist to demonstrate the use of the provider:

- [Getting Started](https://registry.terraform.io/providers/ScottW514/datapower/latest/docs/guides/getting_started)
- [Dependency Actions](https://registry.terraform.io/providers/ScottW514/datapower/latest/docs/guides/dependency_actions)

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Disclaimer
**This provider is under active development, and not recommended for production workloads. EXPECT BREAKING CHANGES!**

This DataPower Terraform provider is an unofficial, independently developed tool for interacting with IBM DataPower APIs. It is not affiliated with, endorsed by, or officially supported by IBM Corporation.

Portions of the documentation in this provider, including descriptions of API endpoints and property names, are derived directly from the official IBM DataPower API documentation, or pulled from API responses. These descriptions are the copyright of IBM Corporation and are used here for reference and compatibility purposes only. No copyright or ownership is claimed over these descriptions, and all credit for them belongs to IBM Corporation.

"DataPower" is a registered trademark of IBM Corporation. Use of the name in this project is for identification and compatibility purposes only and does not imply any ownership or endorsement.
